.container {
  display: grid;
  place-items: center;
}

.box {
  border: 1px solid black;
  width: 500px;
}

.main {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: transparent;
  border: none;
  padding: 10px 30px;
  font-size: 1.5rem;
}

body {
  margin: 0;
}

.reset-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.win {
  border: 5px solid green;
}

.lose {
  border: 5px solid red;
}

.tie {
  border: 5px solid purple;
}

.item-img {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

/* 반응형 설정 */
@media (max-width: 1024px) {
  /* 태블릿 */
  .item-img svg {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  /* 모바일 */
  .item-img svg {
    font-size: 2rem;
  }
}

p {
  font-size: 1.5rem;
  text-align: center;
}
